場所　東京都港区南青山3-5-2　蒜澤ビル３F@charset "uft-8";
/* 共通CSS */
body {
    font-family: 'Open Sans', 'YuGothic_Family', 'YuGothic', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
a {text-decoration: none;}
a:link {color: #fff;}
a:visited {color: #fff;}
a:hover {color: #fff;}
a:active {color: #fff;}
/* PCサイズCSS */
@media (min-width: 769px) {
    .sp-header ,
    .sp-main ,
    .sp-footer {display: none;}
    /* header */
    .pc-header {
        background-color:rgba(0, 0, 0, 0.6);
    }
    .pc-header .row{
        margin: 0 auto;
        width: 80%;
        height: 95px;
    }
    .pc-header .logo {
        padding-top: 15px;
        float: left;
    }
    .pc-header ul {
        float: right;
        margin-top: 5px;
    }
    .pc-header ul li {
        width: 125px;
        padding: 0 15px;
        float: left;
    }
    .pc-header ul li img {
        width: 95px;
        border: solid 3px #fff;
    }
    h1 {
        color: #fff;
        padding: 5px 0;
    }
    /* header */
    /* main */
    .pc-main {
        width: 100%;
    }
    .pc-main .top-img {
        max-width: 1920px;
        width: 100%;
    }
    .pc-main .recruit-area {
        width: 980px;
        max-width: 100%;
        margin: 0 auto;
        padding: 30px 0 15px;
    }
    .pc-main .shop-list {
        width: 980px;
        max-width: 100%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .pc-main .outline {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .pc-main .recruit-area ul,
    .pc-main .shop-list ul {
        width: 750px;
        max-width: 100%;
        margin: 10px auto 0;
    }
    .pc-main .recruit-area li,
    .pc-main .shop-list li {
        width: 350px;
        float: left;
    }
    .pc-main .recruit-area li:nth-child(1),
    .pc-main .shop-list li:nth-child(1) {
        float: right;
    }
    .text-area {
        width: 980px;
        max-width: 100%;
        margin: 0 auto;
        padding: 30px 0 15px;
    }
    .text-area .txt-1 {
        font-size: 1.3em;
        padding-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
    .text-area .txt-2 {
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center;
    }
    .text-area .txt-3 {
        
    }
    /* main */
    /* footer */
    .pc-footer {
        width: 100%;
        background-color:rgba(0, 0, 0, 0.6);
        color: #fff;
        padding-top: 20px;
        margin-top: 20px;
    }
    .pc-footer ul {
        width: 980px;
        max-width: 100%;
        margin: 30px auto 30px;
    }
    .pc-footer ul li {
        width: 50%;
        float: left;
    }
    .pc-footer ul li p {
        padding-bottom: 7px;
    }
    .pc-footer img {
        width: 95px;
        border: solid 3px #fff;
    }
    .pc-footer .copyright {
        text-align: center;
        padding-bottom: 10px;
    }
    /* footer */
}
/* SPサイズ共通CSS */
@media (max-width: 768px) {
    .pc-header {
        display: none;
    }
    .slider img {
        max-width: 100%;
        width: 768px;
    }
    div {
        max-width: 100%;
        width: 768px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    /* header */
    .sp-header h1 {
        font-size: 0.7em;
    }
    /* header */
    /* main */
    .pc-main img {
        margin: 0 auto;
        display: block;
    }
    .pc-main ul li {
        width: 768px;
        max-width: 100%;
        margin: 20px auto;
    }
    .text-area p {
        padding: 20px;
        text-align: center;
    }
    /* main */
    /* footer */
    .pc-footer {
        width: 768px;
        max-width: 100%;
        background: #fff;
    }
    .pc-footer ul {
        padding: 10px;
    }
    .pc-footer ul li {
        padding-top: 10px;
    }
    .pc-footer img {
        width: 30%;
    }
    .pc-footer a {
        color: #FF6699;
    }
    .pc-footer > p {
        padding: 10px 0;
    }
    /* footer */
}
